@font-face {
    font-family: 'Cairo';
    src: url('Cairo-ExtraBold.eot');
    src: url('Cairo-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Cairo-ExtraBold.woff2') format('woff2'),
        url('Cairo-ExtraBold.woff') format('woff'),
        url('Cairo-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Cairo';
    src: url('Cairo-Medium.eot');
    src: url('Cairo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Cairo-Medium.woff2') format('woff2'),
        url('Cairo-Medium.woff') format('woff'),
        url('Cairo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
